@media screen and (max-width: 992px) {
    // header .header__menu .menu__content .menu__content-nav {
        
    // }

    .why .why__content {
        width: 90%;
        padding-top: 100px;
        
        .why__content-images {
            padding-left: 10%;

            img {
                width: 90%;
            }
        }
    }

    .comments {
        .comments__block {
            flex-direction: column;
            align-items: center;
        }
        .comments__image {
            height: 300px;
            max-width: 665px;
            width: 80%;
            background-color: #fff;
            
        }
        .comments__text{
            width: 80%;
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .header__menu .menu__content {
            .menu__content-logo{
                font-size: 18px;
            }
            .menu__content-nav {
                display: none;
            }
    
            label {
                display: flex;
                width: 36px;
                height: 36px;
            }
        }
        .header__content {
            h1 {
                font-size: 36px;
            }
            h2{
                font-size: 16px;
            }
            form{
                input{
                    padding-left: 50px;
                }
                input::placeholder{
                    letter-spacing: 1.8px;
                }
            }
        }
    }

    .why {
        height: 785px;
        .why__content {
            padding-top: 10px;
            flex-direction: column-reverse;
    
            .why__content-text {
                width: 100%;
                padding-top: 10px;
                
            }
    
            .why__content-images {
                width: 100%;
                padding-left: 0;
    
                img {
                    width: 45%;
                }
            }
        }
    }

    .how {
        .how__content{
            p {
                font-size: 24px;
            }
        }
    }
    
     
}

@media screen and (max-width: 576px) {
    header .header__content form {
        input {
            width: 100%;
            padding-left: 5px;
        }

        button {
            width: 200px;
            margin-top: 10px;
        }
    }

    .why {
        height: 1050px;
        .why__content {

            .why__content-text {
                text-align: center;
            }
            .why__content-images {

                img {
                    width: 100%;
        
                }
        
                img:nth-of-type(1) {
                    float: none;
                }
                img:nth-of-type(2) {
                    float: none;
                }
            }
        }
        
    }

    .example {
        .example__content {
            .example__cart {
                padding-right: 20px;
                h2 {
                    font-size: 16px;
                    padding-top: 20px;
                }
                h1 {
                    font-size: 16px;
                    padding-top: 10px;
                }
                p {
                    font-size: 14px;
                }
                button{
                    display: block;
                    margin: 0 auto;
                    
                }
            }
        }
    }

    .comments {
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            padding-bottom: 30px;
        }
        .comments__image {
            height: 200px;
            max-width: 665px;
            width: 90%;
            background-color: #fff;
            
        }
        .comments__text{
            padding: 30px 10px 10px 10px;
            width: 90%;
        }
    }

    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}