body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

header .header__content h1, header .header__content h2, header .header__content h3, header .header__menu .menu__content .menu__content-logo a, header .header__menu .menu__content .menu__content-nav a, .why .why__content .why__content-text h1, .example .example__content .example__cart h2, .example .example__content .example__cart h1, .comments h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}

.why .why__content .why__content-text button, .example .example__content .example__cart button {
    border: none;
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    line-height: 60px;
    font-size: 16px;
    text-transform: uppercase;
}

.why .why__content .why__content-text button a, .example .example__content .example__cart button a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 820px;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-position: center;
}

header .header__content {
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 275px;
}

header .header__content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    padding-bottom: 15px;
}

header .header__content h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 5px;
    padding-bottom: 45px;
}

header .header__content form {
    max-width: 650px;
    width: 90%;
    height: 60px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 115px;
}

header .header__content form input {
    max-width: 490px;
    width: 75%;
    height: 60px;
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
    padding-left: 100px;
}

header .header__content form input::placeholder {
    color: #999999;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
}

header .header__content form button {
    box-sizing: border-box;
    background-color: #5474fd;
    border: none;
    max-width: 150px;
    width: 24%;
    height: 58px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    background-image: url("../img/search-bg.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    cursor: pointer;
}

header .header__content h3 {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    opacity: 0.8;
    color: #f00;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-image: url("../img/down.png");
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

header .header__content h3 a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}

header .header__menu {
    width: 100%;
    height: 80px;
    background-color: #5474fd;
    margin-top: 128px;
}

header .header__menu .menu__content {
    height: 100%;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .header__menu .menu__content .menu__content-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
}

header .header__menu .menu__content .menu__content-logo a {
    text-decoration: none;
}

header .header__menu .menu__content #nav-trigger {
    display: none;
}

header .header__menu .menu__content label {
    display: none;
    margin-top: 19px;
    width: 42px;
    height: 42px;
    background: url("../img/menu.svg");
    background-position: center;
    background-size: cover;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
}

header .header__menu .menu__content .menu__content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase;
    width: 525px;
}

header .header__menu .menu__content .menu__content-nav a {
    text-decoration: none;
}

.why {
    width: 100%;
    height: 685px;
    background-image: url("../img/why-bg.png");
    background-size: cover;
    background-position: center;
}

.why .why__content {
    max-width: 1120px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 120px;
}

.why .why__content .why__content-text {
    width: 50%;
    padding-top: 80px;
}

.why .why__content .why__content-text h1 {
    font-family: "Aleo", serif;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
}

.why .why__content .why__content-text p {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.6px;
    opacity: .8;
}

.why .why__content .why__content-text button {
    margin-top: 30px;
}

.why .why__content .why__content-images {
    width: 50%;
    padding-left: 20%;
}

.why .why__content .why__content-images img {
    padding-top: 5px;
    width: 80%;
}

.why .why__content .why__content-images img:nth-of-type(1) {
    float: left;
}

.why .why__content .why__content-images img:nth-of-type(2) {
    clear: both;
    float: right;
    clear: both;
}

.how {
    width: 100%;
    height: 337px;
    background-color: #333333;
}

.how .how__content {
    max-width: 980px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("../img/how-bg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.how .how__content p {
    font-size: 36px;
}

.example {
    width: 100%;
    height: 700px;
    background-image: url("../img/example1.jpg");
    background-size: cover;
    background-position: center;
}

.example .example__content {
    max-width: 1200px;
    width: 90%;
    height: 371px;
    padding-top: 230px;
    margin: 0 auto;
    display: flex;
}

.example .example__content .example__cart {
    width: 540px;
    height: 371px;
    background-color: #232323;
    opacity: 0.9;
    padding-left: 20px;
}

.example .example__content .example__cart h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.example .example__content .example__cart h1 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.example .example__content .example__cart p {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.example .left {
    justify-content: flex-start;
}

.example .right {
    justify-content: flex-end;
}

#example2 {
    background-image: url("../img/exaple2.jpg");
}

.comments {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 200px;
    background-image: url("../img/comments-bg.jpg");
    background-size: cover;
    background-position: center;
}

.comments h1 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 94px;
}

.comments .comments__block {
    max-width: 1110px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.comments .comments__block .comments__image {
    width: 40%;
    height: 284px;
    background-image: url("../img/comments-img.jpg");
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.comments .comments__block .comments__text {
    padding: 50px 40px 50px 60px;
    max-width: 665px;
    width: 60%;
    background-color: #333333;
}

.comments .comments__block .comments__text h2 {
    color: #fefefe;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 33px;
}

body {
    background-color: #f00;
    color: #e8e8e8;
    font-family: "Aleo", serif;
}

@media screen and (max-width: 992px) {
    .why .why__content {
        width: 90%;
        padding-top: 100px;
    }

    .why .why__content .why__content-images {
        padding-left: 10%;
    }

    .why .why__content .why__content-images img {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    header .header__menu .menu__content .menu__content-nav {
        display: none;
    }

    header .header__menu .menu__content label {
        display: flex;
    }

    .why {
        height: 785px;
    }

    .why .why__content {
        padding-top: 10px;
        flex-direction: column-reverse;
    }

    .why .why__content .why__content-text {
        width: 100%;
        padding-top: 10px;
    }

    .why .why__content .why__content-images {
        width: 100%;
        padding-left: 0;
    }

    .why .why__content .why__content-images img {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    header .header__content form input {
        width: 100%;
        padding-left: 5px;
    }

    header .header__content form button {
        width: 200px;
        margin-top: 10px;
    }

    .why {
        height: 1050px;
    }

    .why .why__content .why__content-text {
        text-align: center;
    }

    .why .why__content .why__content-images img {
        width: 100%;
    }

    .why .why__content .why__content-images img:nth-of-type(1) {
        float: none;
    }

    .why .why__content .why__content-images img:nth-of-type(2) {
        float: none;
    }
}
